<link rel="stylesheet" type="text/css" href="/css/products.css">
<nav class="nav m-5 justify-content-center">
    <a class="nav-link" aria-current="page" href="/home">
        Home
    </a>
    <a class="nav-link" aria-current="page" href="/login">
        Login
    </a>
    <a class="nav-link" aria-current="page" href="/chat">
        Chat
    </a>
    <a class="nav-link" aria-current="page" href="/api/carts">
        Carritos
    </a>
    <a class="nav-link" aria-current="page" href="/api/products">
        Productos
    </a>
    <a class="nav-link" aria-current="page" href="/realtimeproducts">
        Real Time Products
    </a>
    <a class="nav-link" aria-current="page" href="/profile">
        Perfil de Usuario
    </a>
</nav>
{{#if products.docs.length}}
    <div>
        <h1>Productos</h1>
        <style>
            .product-container {
                border: 1px solid #ccc;
                border-radius: 5px;
                padding: 10px;
                width: 300px; /* Ancho de la tarjeta */
                margin: 0 auto; /* Centrar horizontalmente */
                margin-bottom: 20px; /* Espacio entre las tarjetas */
            }

            .product-container img {
                width: 100%;
                max-height: 200px; /* Altura máxima de la imagen */
                object-fit: cover; /* Ajustar la imagen al contenedor */
                border-radius: 5px;
            }

            .product-container p {
                margin: 5px 0;
            }
        </style>
        {{#each products.docs}}
            <div class="product-container">
                <img src="{{thumbnail}}"/>
                <p>Titulo: {{this.title}}</p>
                <p>Descripcion: {{this.description}}</p>
                <p>Precio: {{this.price}}</p>
                <p>Codigo: {{this.code}}</p>
                <p>Stock: {{this.stock}}</p>
                <p>Categoria: {{this.category}}</p>
            </div>
        {{/each}}
    </div>

    <div>
        {{#if products.hasPrevPage}}
            <a href={{products.prevLink}}><<Página anterior</a>
        {{/if}}
        {{#if products.hasNextPage}}
            <a href={{products.nextLink}}>Siguiente página>></a>
        {{/if}} 
    </div>

{{else}}
    <h1>No hay productos</h1>
{{/if}}

<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>

<script>
    let logoutButton = document.getElementById("logout-btn")
    logoutButton.addEventListener("click", (evt) => {
        fetch('http://localhost:8080/api/sessions/logout', {method: 'post'})
        .then( res => {
        return window.location.replace('/login')
        })
    })
</script>